.open-sans-uniquifier {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
.head{
    display: flex;
    justify-content: space-between;
    padding:24px 160px;
}
.bd{
    font-size: 32px;
    font-weight: 700;
   color:  rgb(14, 14, 14);
}
.butt{

    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
   padding: 30px 50px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    display: block;
    align-self: center;
  
}

main section{
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;
}
.first-section{
    
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
   
}
.f-banner{
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 64px;

    
}
.f-heading{
    color: rgba(14, 14, 14, 0.5);

font-size: 24px;
font-weight: 500;

}
.f-para{
    color: rgb(14, 14, 14);
font-size: 60px;
font-weight: 700;
margin-top: 16px;
margin-bottom: 24px;
}
.f-subbanner{
    padding: 0px;
    max-width: 622px;
}
.f-button{
    border-radius: 8px;
background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
color: rgb(255, 255, 255);
font-size: 18px;
border: none;
}

.banner{
    display: flex;
    gap: 24px;
    
}

.banner-1{
box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgba(84, 144, 245, 0.2);



}
.banner-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    
    
      
}
.banner-3{
box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
padding: 32px;




}
.banner-heading{


}
.banner-para{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;


}
.banner-butt1{
border-radius: 8px;
background: rgb(84, 144, 245);
gap: 48;
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border: none;
}
.banner-butt2{
border-radius: 8px;
background: rgb(9, 161, 92);
gap: 48;
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border: none;
}
.banner-butt3{
border-radius: 8px;
background: rgb(255, 194, 57);
gap: 48px;
padding: 11px 20px 11px 20px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border: none;
}
.second-heading{
color: rgb(14, 14, 14);
font-size: 45px;
font-weight: 700;
margin-bottom: 24px;


}
.second-para{

    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;

font-weight: 400;
margin-bottom: 32px;

}

.about{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 32px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: 25px 24px;

padding: 48px 24px 48px 24px;

}

.about-para{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
}

.about-heading{
color: rgba(14, 14, 14, 0.8);

font-size: 20px;
font-weight: 600;

}
.about-para2{
color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
}

.third-heading{
    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;

}
.third-para{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;

}

.box-1{
    display: flex;
    gap:32px;
    padding: 48px;
    border-radius: 24px;
margin-bottom: 24px;
background: rgb(255, 255, 255);
box-shadow: 0px 6px 50px 0px   rgba(0, 0, 0, 0.06);
    
}
.box-1-heading{
color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
}
.box-1-para{
    color: rgba(14, 14, 14, 0.7);
    
    font-size: 16px;
    font-weight: 400;
    

}
.box-content{
    gap: 32px;
}
.date-time{
    display: flex;
    gap: 12px;
}
.time{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}
.box-1-button{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border-radius: 8px;
background: rgb(0, 106, 80);
border:none;
padding: 13px 26px 13px 26px;

}
.image{

    border-radius: 24px;
}
.box-2{
    display: flex;
    gap: 32px;
    background: rgb(255, 255, 255);
    padding: 48px;
    border-radius: 24px;
    margin-top: 24px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px   rgba(0, 0, 0, 0.06);
}

.box{
    gap: 40px;
    margin: 32px 0px;
}
.third-section{
    gap: 24px;
}
.fourth-section{
    text-align: center;
}
.fourth-heading{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;

}

.fourth-para{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;


}

.money{
    display: flex;
    gap: 24px;
   
height: 128px;
margin: auto;
justify-content: center;
padding: 32px;
}
.donate{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: whitesmoke;
width: 264px;
border: none;
height: 128px;
}
.donated{
    border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);;
width: 264px;
border: none;
height: 128px;

}

.donate-money{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight:700;
    margin: 18px 0px;
}

.inputt input{
     border-radius: 8px;
background: whitesmoke;
padding: 20px 40px 20px 40px;
width: 1030px;
border: none;
text-align: center;
margin-bottom:32px;

}
.done{
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
padding: 17px 34px 17px 34px;
color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;

}
.Last-Section{
    border-radius: 24px;
background: rgb(198, 228, 214);
 margin: auto;
 width: 1280px;
height: 395px;
}


.Subscribe-heading{
    color: rgb(14, 14, 14);

font-size: 40px;
font-weight: 700;

}
.Subscribe-para{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;

}
.Subscribe{
    text-align: center;
    padding: 80px 100px 80px 100px;
}

.Subscribe input{
    border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
padding: 18px 40px 18px 40px;
width: 600px;
border: none;
}
.Subscribe button{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
}
button:hover{
    background-color: red;
}
.donate:hover{
    background-color: blue;
}
.promise{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}
footer{
    text-align: center;
    background: whitesmoke;
    padding: 50px 160px 50px 160px;
    margin: 80px 0px;
}
footer div h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
}
footer div img{
    margin: 0px 23px;
}

